.homepage {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.homepage .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  height: 4264px;
  position: relative;
}

.homepage .overlap {
  position: absolute;
  width: 100%;
  height: 526px;
  top: 136px;
  left: -573px;
}

.homepage .rectangle {
  position: absolute;
  width: 435px;
  height: 365px;
  top: 0;
  left: 680px;
  background-color: var(--yellow);
}

.homepage .headline {
  position: absolute;
  width: 100%;
  height: 514px;
  top: 12px;
  left: 0;
}

.homepage .overlap-group {
  position: absolute;
  width: 100%;
  height: 514px;
  top: 0;
  left: 573px;
}

.homepage .img {
  position: absolute;
  width: 868px;
  height: 465px;
  top: 49px;
  left: 331px;
  object-fit: cover;
}

.homepage .rectangle-2 {
  position: absolute;
  width: 295px;
  height: auto;
  top: 49px;
  left: 0;
  object-fit: cover;
}

.homepage .overlap-wrapper {
  position: absolute;
  width: 461px;
  height: 452px;
  top: 0;
  left: 73px;
}

.homepage .overlap-2 {
  position: relative;
  width: 457px;
  height: 452px;
  background-color: #fafafa80;
  backdrop-filter: blur(25px) brightness(100%);
  -webkit-backdrop-filter: blur(25px) brightness(100%);
}

.homepage .find-comfort-style {
  position: absolute;
  width: 348px;
  top: 45px;
  left: 43px;
  font-family: "SF Pro Text-Heavy", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .text-wrapper {
  position: absolute;
  width: 370px;
  top: 210px;
  left: 43px;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: var(--color-gray-3);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
}

.homepage .button {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 372px;
  height: 61px;
  top: 333px;
  left: 43px;
}

.homepage .div-wrapper {
  position: relative;
  width: 370px;
  height: 61px;
  background-color: #f8a97c;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.homepage .div-wrapper:hover {
  background-color: var(--pink);
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.homepage .text-wrapper-2 {
  position: absolute;
  top: 20px;
  left: 141px;
  font-family: "SF Pro Text-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  transition: transform 0.3s ease;
}

.homepage .div-wrapper:hover .text-wrapper-2 {
  transform: scale(1.05);
}

.homepage .rectangle-3 {
  position: absolute;
  width: 300px;
  height: 465px;
  top: 49px;
  left: 1808px;
  object-fit: cover;
}

.homepage .our-products {
  position: absolute;
  width: 1281px;
  height: 1297px;
  top: 2503px;
  left: 81px;
}

.homepage .celeste-chair {
  position: absolute;
  width: 398px;
  height: 440px;
  top: 91px;
  left: 0;
  background-color: #ffffff;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.homepage .celeste-chair:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  transition: all 0.3s ease;
  cursor: pointer;
}

.homepage .img-2 {
  position: absolute;
  width: 399px;
  height: 443px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.homepage .text-wrapper-3 {
  position: absolute;
  top: 470px;
  left: 0;
  font-family: "SF Pro Text-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.homepage .text-wrapper-4 {
  top: 501px;
  position: absolute;
  left: 0;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.homepage .cart {
  top: 470px;
  position: absolute;
  width: 51px;
  height: 51px;
  left: 348px;
}

.homepage .overlap-3 {
  position: absolute;
  width: 403px;
  height: 522px;
  top: 654px;
  left: 0;
}

.homepage .shop-wrapper {
  top: 470px;
  background-color: var(--yellow);
  border-radius: 25.5px;
  position: absolute;
  width: 51px;
  height: 51px;
  left: 348px;
}

.homepage .shop {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 11px;
  left: 11px;
}

.homepage .mini-lounge-chair {
  position: absolute;
  width: 398px;
  height: 440px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.homepage .mini-lounge-chair:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  transition: all 0.3s ease;
  cursor: pointer;
}

.homepage .text-wrapper-5 {
  top: 459px;
  font-family: "SF Pro Text-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  left: 0;
}

.homepage .deskmat-lamp {
  position: absolute;
  width: 398px;
  height: 440px;
  top: 91px;
  left: 880px;
  background-color: #ffffff;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.homepage .deskmat-lamp:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  transition: all 0.3s ease;
  cursor: pointer;
}

.homepage .lucea-gold {
  position: absolute;
  width: 398px;
  height: 440px;
  top: 91px;
  left: 440px;
  background-color: #ffffff;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.homepage .lucea-gold:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  transition: all 0.3s ease;
  cursor: pointer;
}

.homepage .lush-green-wall {
  position: absolute;
  width: 398px;
  height: 440px;
  top: 654px;
  left: 880px;
  background-color: #ffffff;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.homepage .lush-green-wall:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  transition: all 0.3s ease;
  cursor: pointer;
}

.homepage .img-wrapper {
  top: 469px;
  background-color: var(--yellow);
  border-radius: 25.5px;
  position: absolute;
  width: 51px;
  height: 51px;
  left: 348px;
}

.homepage .white-aura-cube {
  position: absolute;
  width: 400px;
  height: 398px;
  top: 654px;
  left: 440px;
  background-color: #ffffff;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.homepage .white-aura-cube:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  transition: all 0.3s ease;
  cursor: pointer;
}

.homepage .text-wrapper-6 {
  position: absolute;
  top: 469px;
  left: 0;
  font-family: "SF Pro Text-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.homepage .text-wrapper-7 {
  top: 500px;
  position: absolute;
  left: 0;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.homepage .text-wrapper-8 {
  position: absolute;
  top: 0;
  left: 483px;
  font-family: "SF Pro Text-Heavy", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-black);
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.homepage .show-more-button {
  position: absolute;
  width: 271px;
  height: 65px;
  top: 1232px;
  left: 504px;
}

.homepage .overlap-group-2 {
  position: relative;
  width: 269px;
  height: 65px;
  background-color: var(--orange);
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.homepage .overlap-group-2:hover {
  background-color: var(--pink);
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.homepage .text-wrapper-9 {
  font-family: "SF Pro Text-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  transition: transform 0.3s ease;
}

.homepage .overlap-group-2:hover .text-wrapper-9 {
  transform: scale(1.05);
}

.homepage .new-collection {
  position: absolute;
  width: 314px;
  height: 48px;
  top: 1678px;
  left: 563px;
}

.homepage .text-wrapper-10 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "SF Pro Text-Heavy", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-black);
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.homepage .about {
  position: absolute;
  width: 1254px;
  height: 670px;
  top: 929px;
  left: 93px;
}

.homepage .text-wrapper-11 {
  position: absolute;
  top: 140px;
  left: 635px;
  font-family: "SF Pro Text-Heavy", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-black);
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.homepage .furnispace-is-an {
  position: absolute;
  width: 615px;
  top: 210px;
  left: 635px;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .image {
  position: absolute;
  width: 567px;
  height: 670px;
  top: 0;
  left: 0;
}

.homepage .service {
  position: absolute;
  width: 1151px;
  height: 88px;
  top: 752px;
  left: 145px;
}

.homepage .fast-shipping {
  position: absolute;
  width: 239px;
  height: 88px;
  top: 0;
  left: 0;
}

.homepage .overlap-group-3 {
  position: absolute;
  width: 108px;
  height: 88px;
  top: 0;
  left: 0;
}

.homepage .ellipse {
  left: 0;
  background-color: var(--orange);
  position: absolute;
  width: 88px;
  height: 88px;
  top: 0;
  border-radius: 44px;
}

.homepage .ellipse-2 {
  left: 20px;
  background-color: var(--yellow);
  position: absolute;
  width: 88px;
  height: 88px;
  top: 0;
  border-radius: 44px;
}

.homepage .humbleicons-truck {
  position: absolute;
  width: 51px;
  height: 51px;
  top: 18px;
  left: 38px;
}

.homepage .text-wrapper-12 {
  position: absolute;
  width: 107px;
  top: 20px;
  left: 130px;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .high-quality {
  position: absolute;
  width: 239px;
  height: 88px;
  top: 0;
  left: 320px;
}

.homepage .tabler-trophy {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 20px;
  left: 40px;
}

.homepage .support {
  position: absolute;
  width: 240px;
  height: 88px;
  top: 0;
  left: 616px;
}

.homepage .overlap-4 {
  position: absolute;
  width: 109px;
  height: 88px;
  top: 0;
  left: 0;
}

.homepage .ellipse-3 {
  left: 21px;
  background-color: var(--yellow);
  position: absolute;
  width: 88px;
  height: 88px;
  top: 0;
  border-radius: 44px;
}

.homepage .humbleicons-support {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 20px;
  left: 41px;
}

.homepage .text-wrapper-13 {
  position: absolute;
  width: 107px;
  top: 20px;
  left: 131px;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .returns {
  position: absolute;
  width: 237px;
  height: 88px;
  top: 0;
  left: 916px;
}

.homepage .overlap-5 {
  position: absolute;
  width: 106px;
  height: 88px;
  top: 0;
  left: 0;
}

.homepage .ellipse-4 {
  position: absolute;
  width: 88px;
  height: 88px;
  top: 0;
  left: 18px;
  background-color: var(--yellow);
  border-radius: 44px;
}

.homepage .mingcute-refresh {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 21px;
  left: 39px;
}

.homepage .text-wrapper-14 {
  position: absolute;
  width: 107px;
  top: 20px;
  left: 128px;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .navbar {
  position: absolute;
  width: 1285px;
  height: 56px;
  top: 51px;
  left: 73px;
}

.homepage .navbar a:hover {
  color: orange;
  transition: color 0.3s;
}

.homepage .text-wrapper-15 {
  top: 2px;
  font-family: "SF Pro Text-Bold", Helvetica;
  font-weight: 700;
  position: absolute;
  left: 0;
  color: var(--variable-collection-black);
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.homepage .text-wrapper-16 {
  position: absolute;
  top: 17px;
  left: 254px;
  font-family: "SF Pro Text-Medium", Helvetica;
  font-weight: 500;
  color: var(--orange);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.homepage .text-wrapper-17 {
  position: absolute;
  top: 17px;
  left: 337px;
  font-family: "SF Pro Text-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.homepage .text-wrapper-18 {
  position: absolute;
  top: 17px;
  left: 438px;
  font-family: "SF Pro Text-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.homepage .searchbar {
  position: absolute;
  width: 507px;
  height: 56px;
  top: 0;
  left: 592px;
  background-color: var(--abu-muda);
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 16px;
}

.homepage .text-wrapper-19 {
  flex: 1;
  border: none;
  background: transparent;
  font-size: 18px;
  font-family: "SF Pro Text-Light", Helvetica;
  font-weight: 300;
  color: var(--font);
  outline: none;
}

.homepage .searchbar .material-symbols {
  width: 27px;
  height: 27px;
}

.homepage .profile {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 5px;
  left: 1232px;
}

.homepage .shop-2 {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 6px;
  left: 1166px;
}

.homepage .group {
  position: absolute;
  width: 642px;
  height: 303px;
  top: 1781px;
  left: 80px;
}

.homepage .group-2 {
  position: absolute;
  width: 631px;
  height: 643px;
  top: 1781px;
  left: 742px;
}

.homepage .group-3 {
  position: absolute;
  width: 316px;
  height: 320px;
  top: 2104px;
  left: 80px;
}

.homepage .group-4 {
  position: absolute;
  width: 306px;
  height: 320px;
  top: 2104px;
  left: 416px;
}

.homepage .footer {
  position: absolute;
  width: 1440px;
  height: 367px;
  top: 3897px;
  left: 0;
  background-color: transparent;
}

.homepage .overlap-6 {
  position: absolute;
  width: 1440px;
  height: 336px;
  top: 31px;
  left: 0;
  background-color: var(--color-white);
}

.homepage .stay-updated {
  width: 294px;
  height: 90px;
  left: 1047px;
  position: absolute;
  top: 49px;
}

.homepage .searchbar-2 {
  position: absolute;
  width: 294px;
  height: 45px;
  top: 45px;
  left: 0;
}

.homepage .placeholder-wrapper {
  position: absolute;
  width: 242px;
  height: 45px;
  top: 0;
  left: 0;
  background-color: var(--abu-muda);
  border: none;
}

.homepage .placeholder {
  position: absolute;
  top: 10px;
  left: 12px;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: var(--gray-3);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  border: none;
  outline: none;
  background-color: var(--abu-muda);
}

.homepage .send-wrapper {
  position: absolute;
  width: 46px;
  height: 45px;
  top: 0;
  left: 246px;
  background-color: var(--orange);
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.homepage .send-wrapper:hover {
  background-color: var(--pink);
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.homepage .send {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  left: 11px;
}

.homepage .text-wrapper-20 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "SF Pro Text-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .stay-connected {
  width: 200px;
  height: 149px;
  left: 787px;
  position: absolute;
  top: 49px;
}

.homepage .text-wrapper-21 {
  position: absolute;
  top: 45px;
  left: 0;
  font-family: "SF Pro Text-Medium", Helvetica;
  font-weight: 500;
  color: var(--font);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.homepage .text-wrapper-22 {
  position: absolute;
  top: 85px;
  left: 0;
  font-family: "SF Pro Text-Medium", Helvetica;
  font-weight: 500;
  color: var(--font);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.homepage .text-wrapper-23 {
  position: absolute;
  top: 125px;
  left: 0;
  font-family: "SF Pro Text-Medium", Helvetica;
  font-weight: 500;
  color: var(--font);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.homepage .account {
  position: absolute;
  width: 111px;
  height: 189px;
  top: 49px;
  left: 614px;
}

.homepage .text-wrapper-24 {
  top: 165px;
  position: absolute;
  left: 0;
  font-family: "SF Pro Text-Medium", Helvetica;
  font-weight: 500;
  color: var(--font);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.homepage .menu {
  position: absolute;
  width: 127px;
  height: 229px;
  top: 49px;
  left: 431px;
}

.homepage .menu a:hover {
  color: orange;
  transition: color 0.3s;
}

.homepage .terms-policy {
  position: absolute;
  top: 205px;
  left: 0;
  font-family: "SF Pro Text-Medium", Helvetica;
  font-weight: 500;
  color: var(--font);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.homepage .about-2 {
  position: absolute;
  width: 270px;
  height: 237px;
  top: 49px;
  left: 102px;
}

.homepage .text-wrapper-25 {
  position: absolute;
  top: 217px;
  left: 0;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: var(--font);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.homepage .text-wrapper-26 {
  top: 0;
  font-family: "SF Pro Text-Heavy", Helvetica;
  font-weight: 700;
  position: absolute;
  left: 0;
  color: var(--variable-collection-black);
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.homepage .p {
  position: absolute;
  width: 264px;
  top: 45px;
  left: 0;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: var(--font);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.homepage .group-5 {
  position: absolute;
  width: 243px;
  height: 24px;
  top: 133px;
  left: 0;
}

.homepage .text-wrapper-27 {
  position: absolute;
  top: 10px;
  left: 28px;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: var(--font);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.homepage .img-3 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 0;
}

.homepage .group-6 {
  position: absolute;
  width: 198px;
  height: 24px;
  top: 173px;
  left: 0;
}

.homepage .vector {
  position: absolute;
  width: 1237px;
  height: 1px;
  top: 0;
  left: 102px;
  object-fit: cover;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

:root {
  --photo: rgba(221, 221, 221, 1);
  --font: rgba(143, 143, 143, 1);
  --black: rgba(0, 0, 0, 1);
  --abu-muda: rgba(237, 237, 237, 1);
  --cccccc: rgba(255, 255, 255, 1);
  --orange: rgba(248, 170, 124, 1);
  --pink: rgba(248, 124, 124, 1);
  --yellow: rgba(255, 214, 119, 1);
  --color-gray-3: rgba(137, 137, 137, 1);
  --gray-3: rgba(130, 130, 130, 1);
  --color-white: rgba(255, 255, 255, 1);
  --variable-collection-black: rgba(0, 0, 0, 1);
}
