.shopping-cart {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.shopping-cart .div {
  background-color: #ffffff;
  width: 100%;
  height: auto;
  position: relative;
}

.shopping-cart .headline {
  position: relative;
  width: 100%;
  height: auto;
  top: 156px;
  left: 0;
}

.shopping-cart .headline img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
}

.shopping-cart .div-2 {
  position: absolute;
  width: 809px;
  height: 467px;
  top: 711px;
  left: 115px;
}

.shopping-cart .overlap {
  position: absolute;
  width: 809px;
  height: 391px;
  top: 76px;
  left: 0;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f8a97c;
}

.shopping-cart .order {
  position: absolute;
  width: 711px;
  height: 74px;
  top: 47px;
  left: 52px;
}

.shopping-cart .rectangle {
  width: 74px;
  height: 74px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.shopping-cart .text-wrapper {
  top: 26px;
  left: 100px;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  position: absolute;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.shopping-cart .text-wrapper-2 {
  top: 26px;
  left: 259px;
  text-align: center;
  position: absolute;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.shopping-cart .text-wrapper-3 {
  position: absolute;
  top: 26px;
  left: 583px;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.shopping-cart .quantity {
  position: absolute;
  width: 119px;
  height: 38px;
  top: 18px;
  left: 419px;
}

.shopping-cart .overlap-group {
  position: relative;
  height: 38px;
}

.shopping-cart .rectangle-2 {
  width: 117px;
  height: 38px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}

.shopping-cart .text-wrapper-4 {
  position: absolute;
  top: 9px;
  left: 50px;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.shopping-cart .plus {
  position: absolute;
  width: 41px;
  height: 38px;
  top: 0;
  left: 78px;
}

.shopping-cart .div-wrapper {
  position: relative;
  width: 39px;
  height: 38px;
  background-color: var(--abu-muda);
}

.shopping-cart .text-wrapper-5 {
  position: absolute;
  top: 8px;
  left: 14px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.shopping-cart .min {
  position: absolute;
  width: 41px;
  height: 38px;
  top: 0;
  left: 0;
}

.shopping-cart .text-wrapper-6 {
  position: absolute;
  top: 8px;
  left: 15px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.shopping-cart .order-2 {
  position: absolute;
  width: 696px;
  height: 74px;
  top: 158px;
  left: 52px;
}

.shopping-cart .text-wrapper-7 {
  top: 26px;
  left: 267px;
  text-align: center;
  position: absolute;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.shopping-cart .order-3 {
  position: absolute;
  width: 696px;
  height: 74px;
  top: 269px;
  left: 52px;
}

.shopping-cart .table {
  position: absolute;
  width: 817px;
  height: 76px;
  top: 0;
  left: 0;
}

.shopping-cart .overlap-group-2 {
  position: relative;
  width: 809px;
  height: 76px;
  background-color: var(--orange);
}

.shopping-cart .text-wrapper-8 {
  position: absolute;
  top: 30px;
  left: 53px;
  font-family: "SF Pro Text-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.shopping-cart .text-wrapper-9 {
  position: absolute;
  top: 30px;
  left: 337px;
  font-family: "SF Pro Text-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.shopping-cart .text-wrapper-10 {
  position: absolute;
  top: 30px;
  left: 490px;
  font-family: "SF Pro Text-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.shopping-cart .text-wrapper-11 {
  position: absolute;
  top: 30px;
  left: 652px;
  font-family: "SF Pro Text-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.shopping-cart .order-summary {
  position: absolute;
  width: 378px;
  height: 388px;
  top: 711px;
  left: 946px;
}

.shopping-cart .overlap-2 {
  position: absolute;
  width: 378px;
  height: 312px;
  top: 76px;
  left: 0;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f8a97c;
}

.shopping-cart .line {
  position: absolute;
  width: 327px;
  height: 1px;
  top: 143px;
  left: 24px;
  object-fit: cover;
}

.shopping-cart .total {
  position: absolute;
  width: 324px;
  height: 21px;
  top: 175px;
  left: 31px;
}

.shopping-cart .text-wrapper-12 {
  top: 0;
  left: 197px;
  text-align: right;
  position: absolute;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.shopping-cart .text-wrapper-13 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.shopping-cart .checkout-button {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 329px;
  height: 46px;
  top: 228px;
  left: 24px;
}

.shopping-cart .overlap-group-3 {
  position: relative;
  width: 327px;
  height: 46px;
  border-radius: 5px;
  background-color: var(--orange);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.shopping-cart .overlap-group-3:hover {
  background-color: #f87c7c;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.shopping-cart .text-wrapper-14 {
  position: absolute;
  top: 13px;
  left: 127px;
  font-family: "SF Pro Text-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.shopping-cart .shipping {
  position: absolute;
  width: 289px;
  height: 21px;
  top: 91px;
  left: 31px;
}

.shopping-cart .text-wrapper-15 {
  position: absolute;
  top: 0;
  left: 247px;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.shopping-cart .subtotal {
  position: absolute;
  width: 324px;
  height: 21px;
  top: 44px;
  left: 31px;
}

.shopping-cart .overlap-wrapper {
  position: absolute;
  width: 380px;
  height: 76px;
  top: 0;
  left: 0;
}

.shopping-cart .overlap-3 {
  position: relative;
  width: 378px;
  height: 76px;
  background-color: var(--orange);
}

.shopping-cart .text-wrapper-16 {
  position: absolute;
  width: 141px;
  top: 27px;
  left: 32px;
  font-family: "SF Pro Text-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.shopping-cart .footer {
  position: absolute;
  width: 1440px;
  height: 367px;
  top: 1546px;
  left: 0;
  background-color: transparent;
}

.shopping-cart .overlap-4 {
  position: absolute;
  width: 1440px;
  height: 336px;
  top: 31px;
  left: 0;
  background-color: var(--color-white);
}

.shopping-cart .stay-updated {
  width: 294px;
  height: 90px;
  left: 1047px;
  position: absolute;
  top: 49px;
}

.shopping-cart .searchbar {
  position: absolute;
  width: 294px;
  height: 45px;
  top: 45px;
  left: 0;
}

.shopping-cart .placeholder-wrapper {
  position: absolute;
  width: 242px;
  height: 45px;
  top: 0;
  left: 0;
  background-color: var(--abu-muda);
}

.shopping-cart .placeholder {
  position: absolute;
  top: 10px;
  left: 12px;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: var(--gray-3);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  border: none;
  outline: none;
  background-color: var(--abu-muda);
}

.shopping-cart .carbon-send-alt-wrapper {
  position: absolute;
  width: 46px;
  height: 45px;
  top: 0;
  left: 246px;
  background-color: var(--orange);
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.shopping-cart .carbon-send-alt-wrapper:hover {
  background-color: #f87c7c;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.shopping-cart .text-wrapper-17 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "SF Pro Text-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.shopping-cart .stay-connected {
  width: 200px;
  height: 149px;
  left: 787px;
  position: absolute;
  top: 49px;
}

.shopping-cart .text-wrapper-18 {
  position: absolute;
  top: 45px;
  left: 0;
  font-family: "SF Pro Text-Medium", Helvetica;
  font-weight: 500;
  color: var(--font);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.shopping-cart .text-wrapper-19 {
  position: absolute;
  top: 85px;
  left: 0;
  font-family: "SF Pro Text-Medium", Helvetica;
  font-weight: 500;
  color: var(--font);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.shopping-cart .text-wrapper-20 {
  position: absolute;
  top: 125px;
  left: 0;
  font-family: "SF Pro Text-Medium", Helvetica;
  font-weight: 500;
  color: var(--font);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.shopping-cart .account {
  position: absolute;
  width: 111px;
  height: 189px;
  top: 49px;
  left: 614px;
}

.shopping-cart .text-wrapper-21 {
  top: 165px;
  position: absolute;
  left: 0;
  font-family: "SF Pro Text-Medium", Helvetica;
  font-weight: 500;
  color: var(--font);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.shopping-cart .menu {
  position: absolute;
  width: 127px;
  height: 229px;
  top: 49px;
  left: 431px;
}

.shopping-cart .menu a:hover {
  color: orange;
  transition: color 0.3s;
}

.shopping-cart .terms-policy {
  position: absolute;
  top: 205px;
  left: 0;
  font-family: "SF Pro Text-Medium", Helvetica;
  font-weight: 500;
  color: var(--font);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.shopping-cart .about {
  position: absolute;
  width: 270px;
  height: 237px;
  top: 49px;
  left: 102px;
}

.shopping-cart .text-wrapper-22 {
  position: absolute;
  top: 213px;
  left: 0;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: var(--font);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.shopping-cart .text-wrapper-23 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "SF Pro Text-Heavy", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-black);
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.shopping-cart .p {
  position: absolute;
  width: 264px;
  top: 45px;
  left: 0;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: var(--font);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.shopping-cart .group {
  width: 243px;
  top: 145px;
  position: absolute;
  height: 24px;
  left: 0;
}

.shopping-cart .text-wrapper-24 {
  position: absolute;
  top: 0;
  left: 28px;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: var(--font);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.shopping-cart .pin {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 0;
}

.shopping-cart .subtract {
  position: absolute;
  width: 16px;
  height: 18px;
  top: 1px;
  left: 2px;
}

.shopping-cart .group-2 {
  width: 198px;
  top: 180px;
  position: absolute;
  height: 24px;
  left: 0;
}

.shopping-cart .vector {
  position: absolute;
  width: 1237px;
  height: 1px;
  top: 0;
  left: 102px;
  object-fit: cover;
}

.shopping-cart .navbar {
  position: absolute;
  width: 1285px;
  height: 56px;
  top: 51px;
  left: 73px;
}

.shopping-cart .navbar a:hover {
  color: orange;
  transition: color 0.3s;
}

.shopping-cart .text-wrapper-25 {
  position: absolute;
  top: 2px;
  left: 0;
  font-family: "SF Pro Text-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-black);
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.shopping-cart .text-wrapper-26 {
  position: absolute;
  top: 17px;
  left: 254px;
  font-family: "SF Pro Text-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.shopping-cart .text-wrapper-27 {
  top: 17px;
  left: 337px;
  font-family: "SF Pro Text-Medium", Helvetica;
  font-weight: 500;
  text-align: center;
  position: absolute;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.shopping-cart .text-wrapper-28 {
  position: absolute;
  top: 17px;
  left: 438px;
  font-family: "SF Pro Text-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.shopping-cart .searchbar-2 {
  position: absolute;
  width: 507px;
  height: 56px;
  top: 0;
  left: 592px;
  background-color: var(--abu-muda);
  border-radius: 5px;
}

.shopping-cart .text-wrapper-29 {
  position: absolute;
  width: 144px;
  top: 18px;
  left: 66px;
  font-family: "SF Pro Text-Light", Helvetica;
  font-weight: 300;
  color: var(--font);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  border: none;
  outline: none;
  background-color: var(--abu-muda);
}

.shopping-cart .material-symbols {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 16px;
  left: 27px;
}

.shopping-cart .profile {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 5px;
  left: 1232px;
}

.shopping-cart .shop {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 6px;
  left: 1166px;
}

.shopping-cart .service {
  position: absolute;
  width: 1151px;
  height: 88px;
  top: 1318px;
  left: 144px;
}

.shopping-cart .fast-shipping {
  position: absolute;
  width: 239px;
  height: 88px;
  top: 0;
  left: 0;
}

.shopping-cart .overlap-group-4 {
  position: absolute;
  width: 108px;
  height: 88px;
  top: 0;
  left: 0;
}

.shopping-cart .ellipse {
  position: absolute;
  width: 88px;
  height: 88px;
  top: 0;
  left: 0;
  background-color: var(--orange);
  border-radius: 44px;
}

.shopping-cart .ellipse-2 {
  left: 20px;
  position: absolute;
  width: 88px;
  height: 88px;
  top: 0;
  background-color: var(--yellow);
  border-radius: 44px;
}

.shopping-cart .humbleicons-truck {
  position: absolute;
  width: 51px;
  height: 51px;
  top: 18px;
  left: 38px;
}

.shopping-cart .text-wrapper-30 {
  position: absolute;
  width: 107px;
  top: 20px;
  left: 130px;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.shopping-cart .high-quality {
  position: absolute;
  width: 239px;
  height: 88px;
  top: 0;
  left: 320px;
}

.shopping-cart .tabler-trophy {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 20px;
  left: 40px;
}

.shopping-cart .support {
  position: absolute;
  width: 240px;
  height: 88px;
  top: 0;
  left: 616px;
}

.shopping-cart .overlap-5 {
  position: absolute;
  width: 109px;
  height: 88px;
  top: 0;
  left: 0;
}

.shopping-cart .ellipse-3 {
  left: 21px;
  position: absolute;
  width: 88px;
  height: 88px;
  top: 0;
  background-color: var(--yellow);
  border-radius: 44px;
}

.shopping-cart .humbleicons-support {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 20px;
  left: 41px;
}

.shopping-cart .text-wrapper-31 {
  position: absolute;
  width: 107px;
  top: 20px;
  left: 131px;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.shopping-cart .returns {
  position: absolute;
  width: 237px;
  height: 88px;
  top: 0;
  left: 916px;
}

.shopping-cart .overlap-6 {
  position: absolute;
  width: 106px;
  height: 88px;
  top: 0;
  left: 0;
}

.shopping-cart .ellipse-4 {
  position: absolute;
  width: 88px;
  height: 88px;
  top: 0;
  left: 18px;
  background-color: var(--yellow);
  border-radius: 44px;
}

.shopping-cart .mingcute-refresh {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 21px;
  left: 39px;
}

.shopping-cart .img {
  position: absolute;
  width: 36px;
  height: 42px;
  top: 4px;
  left: 5px;
}

.shopping-cart .text-wrapper-32 {
  position: absolute;
  width: 107px;
  top: 20px;
  left: 128px;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}

/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

:root {
  --photo: rgba(221, 221, 221, 1);
  --font: rgba(143, 143, 143, 1);
  --black: rgba(0, 0, 0, 1);
  --abu-muda: rgba(237, 237, 237, 1);
  --cccccc: rgba(255, 255, 255, 1);
  --orange: rgba(248, 170, 124, 1);
  --pink: rgba(248, 124, 124, 1);
  --yellow: rgba(255, 214, 119, 1);
  --gray-3: rgba(130, 130, 130, 1);
  --color-white: rgba(255, 255, 255, 1);
  --variable-collection-black: rgba(0, 0, 0, 1);
}
